<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="logs\internal-nlog.log">

	<!-- Load the ASP.NET Core plugin -->
	<!--
	<extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
	-->
	<targets>
		<target name="console" xsi:type="Console" layout="${longdate}  [${level}]  [${callsite:fileName=true:includeSourcePath=false:className=false:methodName=false}#${callsite:className=false}#${threadid}] - ${message}"/>
		<!--保存至文件-->
		<target name="info_file" xsi:type="File"
				fileName="${basedir}\logs\${shortdate}_info.log" maxArchiveDays="365"
				layout="${longdate}  [${level}]  [${callsite:fileName=true:includeSourcePath=false:className=false:methodName=false}#${callsite:className=false}#${threadid}] - ${message}" />
		<target name="error_file" xsi:type="File"
				fileName="${basedir}\logs\${shortdate}_error.log" maxArchiveDays="365"
				layout="${longdate}  [${level}]  [${callsite:fileName=true:includeSourcePath=false:className=false:methodName=false}#${callsite:className=false}#${threadid}] - ${message}" />
		<target name="debug_file" xsi:type="File"
				fileName="${basedir}\logs\${shortdate}_debug.log" maxArchiveDays="365"
				layout="${longdate}  [${level}]  [${callsite:fileName=true:includeSourcePath=false:className=false:methodName=false}#${callsite:className=false}#${threadid}] - ${message}" />
		<target name="fatal_file" xsi:type="File"
				fileName="${basedir}\logs\${shortdate}_fatal.log" maxArchiveDays="365"
				layout="${longdate}  [${level}]  [${callsite:fileName=true:includeSourcePath=false:className=false:methodName=false}#${callsite:className=false}#${threadid}] - ${message}" />
		<target name="warn_file" xsi:type="File"
				fileName="${basedir}\logs\${shortdate}_warn.log" maxArchiveDays="365"
				layout="${longdate}  [${level}]  [${callsite:fileName=true:includeSourcePath=false:className=false:methodName=false}#${callsite:className=false}#${threadid}] - ${message}" />
		<target name="trace_file" xsi:type="File"
				fileName="${basedir}\logs\${shortdate}_${logger}_trace.log" maxArchiveDays="365"
				layout="${longdate}  [${level}]  [${callsite:fileName=true:includeSourcePath=false:className=false:methodName=false}#${callsite:className=false}#${threadid}] - ${message}" />
	</targets>

	<rules>

		<logger name="*" writeTo="console"/>
		<logger name="*" level="Info" writeTo="info_file" />
		<logger name="*" levels="Error" writeTo="error_file" />
		<logger name="*" levels="Debug" writeTo="debug_file" />
		<logger name="*" level="Fatal" writeTo="fatal_file" />
		<logger name="*" level="Warn" writeTo="warn_file" />
		<logger name="aiagent" level="Trace" writeTo="trace_file" />
		<logger name="aiagenttcp" level="Trace" writeTo="trace_file" />
		<logger name="usermsg" level="Trace" writeTo="trace_file" />
		<logger name="websocket" level="Trace" writeTo="trace_file" />
		<logger name="tcpcomm" level="Trace" writeTo="trace_file" />
		<logger name="config" level="Trace" writeTo="trace_file" />
		<logger name="officialaccountinfo" level="Trace" writeTo="trace_file" />
		<logger name="userroles" level="Trace" writeTo="trace_file" />
	</rules>
</nlog>
